{{ define "content" }}
	<article id="article">
		<h1>{{ .Title }}</h1>
		{{ .Content }}
	<div class="clear"></div>
	<span class="article-footer">
		<a href="{{ .Root }}/{{ .Category }}/index.html" class="nav-link">
			{{ index .CategoryMap .Category }}
		</a>
		·
		{{ .Timestamp }}</span>
	</article>
	<hr>
	{{ if .IsHomepage }}
		<div class="recent">
			{{ .RecentTitle }}
			{{ template "article-list" . }}
		</div>
		<hr>
	{{ end }}
	<div id="article-category-list">
		{{ .CategoryListTitle }}
		{{ template "category-list" . }}
	</div>
	<div class="clear"></div>
{{ end }}
