{{ define "content" }}
	<article id="article">
		<h1>{{ .Title }}</h1>
        <div class="clear"></div>
        <span class="article-meta">
            <a href="{{ .Root }}/{{ .Category }}/index.html" class="nav-link">
                {{ index .CategoryMap .Category }}
            </a>
            ·
            {{ .Timestamp }}</span>
        <div class="clear"></div>
		{{ .Content }}
	<div class="clear"></div>
	</article>
	<hr>
	{{ if .IsHomepage }}
		<div class="recent">
			{{ .RecentTitle }}
			{{ template "article-list" . }}
		</div>
		<hr>
	{{ end }}
	<div id="article-category-list">
		{{ .CategoryListTitle }}
		{{ template "category-list" . }}
	</div>
	<div class="clear"></div>
{{ end }}
