<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	{{ if .IsHomepage }}
		<link rel="alternate" type="application/atom+xml" href="{{ .RootURL }}/feed.atom">
	{{ end }}

    <title>
        {{ .BlogTitle }}
        {{ if not .IsHomepage }}
            »
            {{ if .IsCategory }}
                {{ index .CategoryMap .Category }}
            {{ else }}
                {{ .Title }}
            {{ end }}
        {{ end }}
    </title>
    <style> {{ .CSS }} </style>
</head>
<body>
    <div class="card" id="header">
        <a href="{{ root }}/index.html" class="nav-link">
            {{ .BlogTitle }}
        </a>
    </div>
    {{ template "content" . }}
</body>
</html>

{{ define "category-list" }}
	{{ $isCat := .IsCategory }}
	{{ $cat := .Category }}
	<ul class="category-list">
		{{ range $info := .Categories }}
			<li><a href="{{ root }}/{{ $info.Name }}/index.html"
				   class="nav-link {{ if and $isCat (eq $cat $info.Name) }}current{{ end }}">
				{{ $info.Title }}
			</a></li>
		{{ end }}
	</ul>
{{ end }}

{{ define "article-list" }}
	<ul class="article-list">
        {{ $isCat := .IsCategory }}
        {{ $catMap := .CategoryMap }}
		{{ range $info := .Articles }}
			<li>
				<a href="{{ root }}/{{ $info.Category }}/{{ $info.Name }}.html" class="nav-link">{{ $info.Title }}</a>
				<span class="article-meta">
                {{ if not $isCat }}
                    {{ index $catMap $info.Category }} ·
                {{ end }}
                {{ $info.Timestamp }}
                </span>
                <div class="clear"></div>
			</li>
		{{ end }}
	</ul>
{{ end }}

{{ define "homepage-content" }}
    {{ range .Articles }}
        {{ template "article-content" . }}
    {{ end }}
{{ end }}

{{ define "article-content" }}
<div class="card">
    <article class="article">
		<h1>{{ .Title }}</h1>
        <div class="clear"></div>
        <span class="article-meta header">
            <a href="{{ root }}/{{ .Category }}/index.html" class="nav-link">
                {{ index .CategoryMap .Category }}
            </a>
            ·
            {{ .Timestamp }}</span>
        <div class="clear"></div>
		{{ .Content }}
	<div class="clear"></div>
	</article>
	<hr>
	<div class="article-category-list">
		{{ .L10N.CategoryListTitle }}
		{{ template "category-list" . }}
	</div>
	<div class="clear"></div>
</div>
{{ end }}

{{ define "category-content" }}
<div class="card">
	{{ template "category-list" . }}
	{{ template "article-list" . }}
</div>
{{ end }}
