body {
    /*background-color: #e5e5e5;*/
    background-color: #ddd;
    font-size: 16px;
    /*font-family: Georgia, Times, Serif, FZShuSong-Z01, SimSun;*/
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft Yahei", FZHei-B01, "WenQuanYi Micro Hei", SimHei;
}

.card {
    background-color: white;
    padding: 24px;
    margin: 16px 6.25% 16px 6.25%;
}

.card.noted {
    margin-top: 0;
}

.card-notes {
    margin-top: 16px;
    margin-left: 6.25%;
}

@media screen and (min-width: 1024px) {
    .card {
        margin: 32px auto 20px auto;
        padding: 24px 24px;
        width: 848px;
        box-shadow: 2px 1px 3px #cce;
    }

    .card-notes {
        margin: 32px auto 0 auto;
        width: 896px;
    }
}

.card#header {
    font-size: 2em;
    font-weight: bold;
}

.category-list > li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px 4px 10px;
}

.category-list > li.current {
    background-color: white;
    font-weight: bold;
}

.nav-link {
    color: black;
    /*display: inline-block;*/
    display: inline;
    line-height: 1.3em;
    text-decoration: none;
    padding-bottom: 1px;
    margin-bottom: 2px;
    border-bottom: 2px solid #bbb;
}

.nav-link.current, .nav-link.current:hover {
    border-bottom-color: black;
}

.nav-link:hover {
    border-bottom-color: black;
}

.article p, .article pre {
	line-height: 1.6em;
    margin-top: 0.5em;
	margin-bottom: 1em;
}

.article p code, .article pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    padding: 0.2em;
}

.article pre {
    overflow: auto;
}

/* Only use headers up to h3 */
.article h1, .article h2, .article h3 {
    /*font-family: Arial, Sans Serif, Microsoft Yahei, FZHei-B01, WenQuanYi Micro Hei, SimHei;*/
    line-height: 1.6em;
    margin-top: 0.6em;
    margin-bottom: 1em;
    font-weight: bold;
    font-variant: small-caps;
    /*background-color: #f0f0f0;*/
}

.article h2 {
    border-bottom: 1px solid #aaa;
}

.article h1 {
    font-size: 1.4em;
}

.article h2 {
    font-size: 1.2em;
}

.article h3 {
    font-size: 1em;
}

.article ul, .article ol {
    margin-left: 1em;
}

.article-list > li {
    list-style: square inside;
    padding-bottom: 2px;
    margin-bottom: 0.7em;
}

.article-meta {
    float: right;
    display: inline-block;
}

.article-meta.header {
    margin-bottom: 0.7em;
}

.clear, hr {
    clear: both;
}

hr {
    border-color: #aaa;
    text-align: center;
}

hr:after {
    content: "❧";
    color: black;
    text-shadow: 0px 0px 2px #667;
    display: inline-block;
    position: relative;
    top: -0.5em;
    padding: 0 0.25em;
    font-size: 1.1em;
    background-color: white;
}
