body {
    /*background-color: #e5e5e5;*/
    background-color: #ddd;
    font-size: 16px;
    /*font-family: Georgia, Times, Serif, FZShuSong-Z01, SimSun;*/
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft Yahei", FZHei-B01, "WenQuanYi Micro Hei", SimHei;
}

/* Layout primitives. */

.card {
    background-color: white;
    margin: 16px 5% 10px 5%;
}

@media screen and (min-width: 1000px) {
    .card {
        margin: 32px auto 20px auto;
        width: 900px;
        box-shadow: 2px 1px 3px #cce;
    }
}

.nav-link {
    color: black;
    display: inline;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #c0c0c0;
}

.clear {
    clear: both;
}

/* Global header card. */

.blog-title {
    padding: 24px 40px;
    font-size: 2em;
    font-weight: bold;
}

.card-splitter {
    height: 1px;
    width: 100%;
    background-color: #667;
}

.category-list {
    display: block;
    padding: 24px 40px;
}

.category-list > li {
    list-style: none;
    display: inline-block;
}

.category-list > li > .nav-link {
    padding: 4px 10px 4px;
}

.category-list > li.current > .nav-link {
    color: white;
    background-color: black;
}

/* Article content. */

.article-header {
    padding: 32px 40px 0;
}

.article-content {
    padding: 40px;
}

.article p, .article pre {
    line-height: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.article code, .article pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    padding: 0.2em;
}

.article pre {
    overflow: auto;
}

/* Only use headers up to h3 */
.article h1, .article h2, .article h3 {
    /*font-family: Arial, Sans Serif, Microsoft Yahei, FZHei-B01, WenQuanYi Micro Hei, SimHei;*/
    line-height: 1.6em;
    margin-top: 0.6em;
    margin-bottom: 1em;
    font-weight: bold;
    font-variant: small-caps;
}

.article h2 {
    border-bottom: 1px solid #ddd;
}

.article h1 {
    font-size: 1.4em;
}

.article h2 {
    font-size: 1.2em;
}

.article h3 {
    font-size: 1em;
}

.article ul, .article ol {
    margin-left: 1em;
}

/* Category content. */

.category-prelude {
    padding: 40px 58px 0;
    margin-bottom: -20px;
}

.article-list {
    padding: 40px;
}

.article-list > li {
    list-style: square inside;
    padding: 4px;
}

.article-list > li:hover {
    background-color: #c0c0c0;
}

.article-list > li > .nav-link {
    border-bottom: 1px solid black;
}

.article-timestamp {
    float: right;
    display: inline-block;
}

/* Utilities usable in articles. */

hr {
    clear: both;
    border-color: #aaa;
    text-align: center;
}

hr:after {
    content: "❧";
    color: black;
    text-shadow: 0px 0px 2px #667;
    display: inline-block;
    position: relative;
    top: -0.5em;
    padding: 0 0.25em;
    font-size: 1.1em;
    background-color: white;
}

/* vi: se ts=4 sts=4 sw=4: */
